{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block title 'header.connecting'|trans({}, 'HWIOAuthBundle') %}
{% block page_title_text 'header.connecting'|trans({}, 'HWIOAuthBundle') %}

{% block hwi_oauth_content %}
    <div class="row">
        <div class="col-lg-12">
            <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>
            <p>
                <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_widget(form) }}
                    <div class="span6">
                        {% if userInformation.profilePicture is defined and userInformation.profilePicture is not empty %}
                            <img src="{{ userInformation.profilePicture }}" /><br/><br/>
                        {% endif %}
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">{{ 'connect.confirm.submit' | trans({}, 'HWIOAuthBundle') }}</button>
                        <a href="{{ path('hwi_oauth_connect') }}" class="btn btn-default">{{ 'connect.confirm.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                    </div>
                </form>
            </p>
        </div>

    </div>
{% endblock hwi_oauth_content %}
