{% extends '::layout.html.twig' %}

{% block title 'login.title'|trans %}

{% block header_title %}<a>{{ 'login.title'|trans }}</a>{% endblock %}

{% block prev_title %}<a href="{{ path('homepage') }}">{{ sitename }}</a>{% endblock %}

{% block page %}
    <div class="text-center">
        <br/><br/><br/><br/>
        <p>Register with your account</p><br>
        {% embed ':Connect:login_block.html.twig' %}{% endembed %}
    </div>

    <div class="text-center">
        <br><br>
        <p>Or register as a model via Facebook:</p>
        <p><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook', 'type': 'model_registration'}) }}"
              class="btn btn-login-facebook">{{ 'index.register_as_a_model_vie_fb'|trans }}</a></p>
    </div>
{% endblock %}