{% extends '::base.html.twig' %}

{% block meta %}
    {{ parent() }}

    {#<meta name="tweetmeme-title" content="{# SiteMeta #-}" />#}
    <meta name="google-site-verification" content="{# { google_site_verification_code }#}" />
    <meta name="author" content="{{ developer_name }}, {{ developer_email }}">
    <meta name="web_author" content="{{ developer_name }}, {{ developer_email }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}


    {#'bundles/westeurotravelhotels/css/jquery-ui/smoothness/jquery-ui-1.10.4.custom.css'#}
    {#'bundles/westeurotravelhotels/vendor/fancybox/jquery.fancybox-1.3.1.css'#}
    {#'bundles/westeurotravelhotels/vendor/priceselector/nouislider.css'#}
    {#'bundles/westeurotravelhotels/vendor/priceselector/noUiFox.css'#}
    {#'bundles/westeurotravelhotels/css/main.css'#}
    {#'bundles/westeurotravelhotels/css/login-tab.css'#}
    {#'bundles/westeurotravelhotels/css/error.css'#}
    {#'bundles/westeurotravelhotels/css/pagination.css'#}
    {% stylesheets

        filter='cssrewrite'
        output='css/compiled/*.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {#'bundles/westeurotravelhotels/vendor/fancybox/jquery.fancybox-1.3.1.ie.css'#}
    {% stylesheets
        filter='cssrewrite'
        output='css/compiled/*.css'
    %}
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ asset_url }}"/> <![endif]-->
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#'bundles/westeurotravelhotels/js/vendor/es5-shim.js'#}
    {#'bundles/westeurotravelhotels/js/vendor/es6-shim.js'#}
    {#'bundles/westeurotravelhotels/js/vendor/json3.js'#}
    {% javascripts
        filter='?uglifyjs2'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#'bundles/westeurotravelhotels/js/vendor/jquery-1.11.0.min.js'#}
    {#'bundles/westeurotravelhotels/js/vendor/jquery-migrate-1.2.1.js'#}
    {% javascripts
        filter='?uglifyjs2'
        output='js/compiled/*.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#'bundles/westeurotravelhotels/js/vendor/jquery-ui-1.10.4.custom.min.js'#}
    {% javascripts  output='js/compiled/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#'bundles/westeurotravelhotels/js/vendor/can.custom.js'#}
    {#'bundles/westeurotravelhotels/js/vendor/moment.min.js'#}
    {#'bundles/westeurotravelhotels/js/vendor/jquery.autocomplete.js'#}
    {#'bundles/westeurotravelhotels/vendor/fancybox/jquery.easing-1.3.pack.js'#}
    {#'bundles/westeurotravelhotels/js/vendor/jquery.mousewheel.js'#}
    {#'bundles/westeurotravelhotels/vendor/fancybox/jquery.fancybox-1.3.1.js'#}
    {#'bundles/westeurotravelhotels/js/vendor/q.js'#}
    {#'bundles/sonataadmin/jquery/jquery.form.js'#}
    {#'bundles/fosjsrouting/js/router.js'#}
    {% javascripts
        filter='?uglifyjs2'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#% javascripts
        'js/fos_js_routes.js'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %#}
    {# <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script> #}


    {#'js/fos_js_routes.js'#}
    {#'bundles/westeurotravelhotels/js/login.js'#}
    {#'bundles/westeurotravelhotels/js/left-utils.js'#}
    {#'bundles/westeurotravelhotels/js/tabcontent.js'#}
    {#'bundles/westeurotravelhotels/js/popup.js'#}
    {#'bundles/westeurotravelhotels/js/jssor.slider.min.js'#}
    {#'bundles/westeurotravelhotels/vendor/priceselector/jquery.nouislider.js'#}
    {#'bundles/westeurotravelhotels/js/slider.js'#}
    {#'bundles/westeurotravelhotels/js/search.js'#}
    {#'bundles/westeurotravelhotels/js/functions.js'#}
    {#'bundles/westeurotravelhotels/js/application.js'#}

    {% javascripts

        filter='?uglifyjs2'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" defer="defer"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="container">
        <header id="header" class="header">
            <div class="header_wrap">
                {# % embed 'WestEuroTravelHotelsBundle:Default:header.html.twig' %}{% endembed %#}
            </div>
        </header>

        <div class="wrap">
            <div class="page">
                {% block breadcrumbs %}
                    <!--breadcumb here  -->
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{{ path('homepage') }}">{% trans %}Home{% endtrans %} </a> / </li>
                            <li>{% trans %}My Account{% endtrans %}</li>
                        </ul>
                    </div>
                {% endblock %}

                {% block page_title %}
                    <h1 class="page_title">{% block page_title_text %}{% endblock %}</h1>
                {% endblock %}

                {% for type, messages in app.session.flashbag.all() %}
                    {% for key, message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <p>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Authorized
                {% else %}
                    Not authorized
                {% endif %}
                </p>

                {% block page %}{% endblock %}
            </div>
        </div>

        <div class="footer_container">
            <footer class="footer">
                {# % embed 'WestEuroTravelHotelsBundle:Default:footer.html.twig' %}{% endembed %#}
            </footer>
        </div>
    </div>
{% endblock %}

