{% extends '::layout.html.twig' %}

{% block page_title_text 'your_admin_section'|trans %}

{% block page %}
    {{ parent() }}

    <div class="row">
        <div class="col-lg-12">
            {% if pagination|length > 0 %}
                <table class="table stat-table">
                    <thead>
                        <tr>
                            <th>{{ 'chatted_with'|trans }}</th>
                            {#<th>{{ 'stat_page.not_paid_time'|trans }}</th>#}
                            {#<th>{{ 'stat_page.paid_time'|trans }}</th>#}
                            <th class="text-right">{{ 'stat_page.total_time'|trans }}</th>
                            {#<th class="text-right">{{ 'stat_page.earned_money'|trans ~ " ($)" }}</th>#}
                            <th class="text-right">{{ 'stat_page.got_money'|trans ~ " ($)" }}</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for conversation in pagination %}
                            <tr>
                                <td><a href="{{ path('chat_show', {"companion_id": conversation.client.id}) }}">{{ conversation.client.fullName }}</a></td>
                                {#<td>{{ conversation.notPaidTimeInterval|date('%H:%I:%S') }}</td>#}
                                {#<td>{{ conversation.paidTimeInterval|date('%H:%I:%S') }}</td>#}
                                <td class="text-right">{{ conversation.seconds|date_interval }}</td>
                                {#<td class="text-right">{{ conversation.modelEarnings|number_format(2) }}</td>#}
                                <td class="text-right">{{ conversation.modelEarnings|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="text-right">{{ total_seconds|date_interval }}</td>
                            <td class="text-right">{{ total_earnings|number_format(2) }}</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="row">
                    <nav class="navigation col-lg-12 col-md-12 text-right">
                        {{ knp_pagination_render(pagination) }}
                    </nav>
                </div>

            {% else %}
                <p>{{ 'no_stat_available'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}