{% extends '::base.html.twig' %}

{% block meta %}
    {{ parent() }}

    <meta name="author" content="{{ developer_name }}, {{ developer_email }}">
    <meta name="web_author" content="{{ developer_name }}, {{ developer_email }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'css/bootstrap.css'
        'css/jquery-ui/jquery-ui.min.css'
        'css/font-awesome.min.css'
        filter='cssrewrite'
        output='css/compiled/*.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block plugin_css %}
    {% endblock %}

    {% stylesheets
        'css/styles.css'
        filter='cssrewrite'
        output='css/compiled/*.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'js/vendor/es5-shim.js'
        'js/vendor/es6-shim.js'
        'js/vendor/json3.js'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
        'js/vendor/jquery-1.11.2.min.js'
        'js/vendor/jquery-migrate-1.2.1.min.js'
        output='js/compiled/*.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
        'js/vendor/bootstrap.min.js'
        'js/vendor/can.custom.min.js'
        'js/vendor/jquery-ui.min.js'
        'js/vendor/jquery.cookie.js'
        'js/vendor/bootstrap.file-input.js'
        'js/vendor/ion.sound-3.0.0/ion.sound.min.js'
        'bundles/fosjsrouting/js/router.js'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
        'js/fos_js_routes.js'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {# Contains different plugins which are used in application.js #}
    {% block jsplugins %}{% endblock %}

    {% javascripts
        'js/ion_sound.config.js'
        'js/tools.js'
        'js/application.js'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" defer="defer"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            {% if app.user is not null %}
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_MODEL') or is_granted('ROLE_CLIENT') %}
                            <li><a href="#" class="js-user-coins user-coins">{{ 'coins.user_coins'|trans }}: <span class="js-header-coins">{{ app.user.coins|number_format(2) }}</span></a></li>
                        {% endif %}
                        <li>
                            <a href="{{ path("fos_user_profile_show") }}" title="{{ 'menu.go_to_account'|trans }}">
                                {% if app.user.thumbnail is not null and app.user.thumbnail.fileName %}
                                    <span class="user-photo-link">
                                        <img src="{{ vich_uploader_asset(app.user.thumbnail, 'file', 'AppBundle\\Entity\\UserPhoto')
                                        | imagine_filter('user_message_thumb') }}" alt="" title="{{ app.user.fullName }}" />
                                    </span>
                                {% endif %}
                                {{ app.user.fullName }}</a>
                        </li>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li><a href="{{ path('sonata_admin_dashboard', {'_switch_user': '_exit'}) }}">Exit impersonation</a></li>
                        {% endif %}
                        <li class="last"><a href="{{ path('fos_user_security_logout') }}" title="{{ 'menu.logout_from_the_app'|trans }}">{{ 'Logout'|trans }}</a></li>
                    </ul>
                </div>
            {% endif %}

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Chat with models</a>
            </div>
            <div class="collapse navbar-collapse">
                {{ knp_menu_render('main', {currentClass: 'active', 'allow_safe_labels': true}) }}
            </div><!--/.nav-collapse -->
        </div>
        {# % embed ':Default:header.html.twig' %}{% endembed %#}
    </div>

    <div class="container main-content">
        {% block breadcrumbs %}
            {#<!--breadcumb here  -->
            <div class="breadcrumbs">
                <ul>
                    <li><a href="{{ path('homepage') }}">{% trans %}Home{% endtrans %} </a> / </li>
                    <li>{% trans %}My Account{% endtrans %}</li>
                </ul>
            </div>#}
        {% endblock %}

        {% block page_title %}
            <h1 class="page_title">{% block page_title_text %}{% endblock %}</h1>
        {% endblock %}

        {% block flash %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for key, message in messages %}
                    <div class="alert alert-dismissable alert-{{ type }}">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block page %}
        {% endblock %}
    </div><!-- /.container -->

    <div class="footer_container">
        <footer class="footer container">
            {% embed ':Default:_footer.html.twig' %}{% endembed %}
        </footer>
    </div>

    <div class="hidden">
        {% block hidden_templates %}
            {% if is_granted('ROLE_USER') %}
                {{ include(':Coins:_add_coins_dialog.html.twig') }}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}

