{% extends '::layout.html.twig' %}

{% block header_title %}<a href="{{ path('homepage') }}">Chat with models</a>{% endblock %}
{% block prev_title %}{% endblock %}

{% block page %}
    <h3>Models available for chat:</h3>

    <div class="row model-list model-list-online">

        {% for model in online_models %}
            {{ include(':Default:_model_online_item.html.twig') }}
        {% endfor %}

    </div>

    <h3>Models available later:</h3>

    <div class="row model-list">

        {% for model in offline_models %}
            {{ include(':Default:_model_offline_item.html.twig') }}
        {% endfor %}

    </div>

    {#<br/><br/><br/><br/>
    {#% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="row">
            <div class="col-lg-6">
                <div class="well text-center">
                    <h4>{{ 'index.client_intro' | trans | raw }}</h4><br/>
                    {% include ':Connect:login_block.html.twig' %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well text-center">
                    <h4>{{ 'index.model_intro'|trans }}</h4><br/> <br/>
                    <p><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook', 'type': 'model_registration'}) }}"
                          class="btn btn-primary btn-lg" style="white-space: normal !important;">{{ 'index.register_as_a_model_vie_fb'|trans }}</a></p>
                </div>
            </div>
        </div>

    {% endif %#}
{% endblock %}