{% extends ':Email:email_base.html.twig' %}

{% block content_html %}
    <p>Hi, {{ user.fullName }}!</p>
    <p>We invite you to join us. Please click the following link and authorize via Facebook.
        <a href="{{ url('user_activate_via_social_network', {'activationToken': user.activationToken}) }}">
            {{ url('user_activate_via_social_network', {'activationToken': user.activationToken}) }}
        </a>
    </p>
    <p>Best regards <span class="br"><a href="{{ website }}">{{ website }}</a> team.</span></p>
{% endblock %}