{% extends '::layout.html.twig' %}

{% block title user.fullName %}
{% block page_title_text %}
    {{ user.fullName }}
    <a class="btn btn-sm btn-primary" href="{{ path('chat_show', {'companion_id': user.id}) }}">chat</a>
{% endblock %}

{% block plugin_css %}
    {{ parent() }}

    {% stylesheets
        'css/blueimp-gallery.min.css'
        'css/bootstrap-image-gallery.min.css'
        filter='cssrewrite'
        output='css/compiled/*.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block jsplugins %}
    {{ parent() }}

    {% javascripts
        'js/vendor/jquery.blueimp-gallery.min.js'
        'js/vendor/blueimp-gallery-fullscreen.js'
        'js/vendor/bootstrap-image-gallery.min.js'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" defer="defer"></script>
    {% endjavascripts %}
{% endblock %}

{% block page %}
    {{ parent() }}

    <h1 class="small-screen-block">{{ user.fullName }} <a class="btn btn-sm btn-primary" href="{{ path('chat_show', {'companion_id': user.id}) }}">chat</a></h1>

    {% if user.hasRole('ROLE_USER') %}
        <div class="row user-photos">
            <div class="col-lg-12">
                {{ include(':Profile:_photos_list.html.twig', {'photos': user.photos}) }}
            </div>
        </div>
    {% endif %}

    <div class="row user-info">
        <div class="col-lg-12">
            <h3>{{ 'user_page.about'|trans }}</h3>
            <p>{{ 'user.age'|trans }}: {{ user.age }}</p>
            <p>{{ 'user.gender'|trans }}: {{ user.genderLabel()|trans|capitalize }}</p>
        </div>
    </div>
{% endblock %}

{% block gallery_template %}
    {{ include(':Common:gallery_widget.html.twig') }}
{% endblock %}