{% form_theme form ':Form:bootstrap3_theme.html.twig' _self %}

<div class="col-lg-6 col-lg-offset-3">
    <div class="well bs-component">
        <form action="{{ path('model_request_registration') }}" {{ form_enctype(form) }} method="POST"
              class="form-horizontal model-request-form">
            <legend>{{ 'model_request.title'|trans }}</legend>

            {{ form_errors(form) }}

            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}

            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <input type="submit" value="{{ 'model_request.submit'|trans }}" class="btn btn-primary" />
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>
