{% if admin.hasroute('activate') and admin.id(object) is not null and object.needToActivateByAdmin %}
    {% if admin.subClasses is empty %}
        <a class="sonata-action-element" href="{{ admin.generateObjectUrl('activate', object) }}">
            <i class="fa fa-plus-circle"></i>
            {{ 'link_action_activate_model'|trans }}</a>
    {% else %}
        <li class="divider" role="presentation"></li>
        {% for subclass in admin.subclasses|keys %}
            <li>
                <a href="{{ admin.generateObjectUrl('activate', object, {'subclass': subclass}) }}">
                    <i class="fa fa-plus-circle"></i>
                    {{ 'link_action_activate_model'|trans }} {{ subclass|trans({}, admin.translationdomain) }}
                </a>
            </li>
        {% endfor %}
        <li class="divider" role="presentation"></li>
    {% endif %}
{% endif %}