{% if message.author == app.user %}
    {% set orientation = 'left' %}
{% else %}
    {% set orientation = 'right' %}
{% endif %}
<li class="{{ orientation }} clearfix js-message" data-id="{{ message.id }}">
    <span class="chat-img pull-{{ orientation }}">
        <img src="{%- if message.author.thumbnail -%}/uploads/photo/{{ message.author.thumbnail }}
            {%- else -%}http://placehold.it/50/55C1E7/fff&text=U{%- endif -%}"
             alt="{{ message.author.fullName }}" class="img-circle message-avatar"/>
    </span>

    <div class="chat-body clearfix">
        <div class="header">
            {% if message.author == app.user %}
                <strong class="primary-font">{{ message.author.fullName }}</strong>
                <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{ message.dateAdded|date("F jS \\a\\t G:i") }}
                </small>
            {% else %}
                <small class="text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{ message.dateAdded|date("F jS \\a\\t G:i") }}
                </small>
                <strong class="primary-font pull-right">{{ message.author.fullName }}</strong>
            {% endif %}
        </div>
        <p>{{ message.content|replace("\n", "<br>") }}</p>
    </div>
</li>