{%- set isMyMessage = message.author.id == app.user.id -%}
{%- set orientation = isMyMessage ? 'left' : 'right' -%}
{%- set allowedToComplain = is_granted('ROLE_MODEL') and message.author.id != app.user.id -%}
{%- set canComplain = allowedToComplain and message.complaint is null and not message.deletedByUser -%}
{%- set complained = message.complaint is not null -%}
{%- set canDelete = message.author == app.user and not message.deletedByUser -%}
{%- set isDeleted = message.deletedByUser -%}

<li class="{{ orientation }} clearfix js-message message{% if not message.isSeenByUser(app.user) %} unseen{% endif -%}
        {%- if canComplain %} can-complain{% endif -%} {%- if complained and (allowedToComplain or message.complaint.isAccepted) %} complained{% endif -%} {%- if isDeleted %} deleted{% endif -%}"
        data-id="{{ message.id }}">
    <span class="chat-img pull-{{ orientation }}">
        <img src="{%- if message.author.thumbnail is not null and message.author.thumbnail.fileName != ''
            -%}{{ vich_uploader_asset(message.author.thumbnail, 'file', 'AppBundle\\Entity\\UserPhoto') | imagine_filter('user_message_thumb') }}
            {%- else -%}http://placehold.it/50/55C1E7/fff&text=U{%- endif -%}"
             alt="{{ message.author.fullName }}" class="img-circle message-avatar"/>
    </span>

    <div class="chat-body clearfix">
        <div class="header">
            {% if message.author == app.user %}
                <strong class="primary-font"><a href="{{ path('user_show', {'user_id': message.author.id}) }}"
                            >{{ message.author.fullName }}</a></strong>
                <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{ message.dateAdded|date("F jS \\a\\t G:i") }}
                </small>
                {% block message_actions %}
                    <small class="message-actions js-message-actions {% if message.author == app.user %}pull-right{% endif %}">
                        {%- if canComplain -%}
                            <a href="{{ path('complain_message', {'message_id': message.id}) }}" class="action-link js-complain-link">Complain</a>
                        {%- endif -%}
                        {%- if canDelete -%}
                            <a href="{{ path('delete_own_message', {'message_id': message.id}) }}" class="action-link js-delete-link">Delete</a>
                        {%- endif -%}
                    </small>
                {% endblock %}

            {% else %}
                <small class="text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{ message.dateAdded|date("F jS \\a\\t G:i") }}
                </small>
                {{ block('message_actions') }}
                <strong class="primary-font pull-right"><a href="{{ path('user_show', {'user_id': message.author.id}) }}"
                            >{{ message.author.fullName }}</a></strong>
            {% endif %}
        </div>

        {{ include(':Chat:_message_content.html.twig') }}

        {% if message.complaint is not null %}
            <div class="clearfix"></div>
            {% if allowedToComplain %}
                {% if message.complaint.isOpen and isMyMessage %}
                    <p class="notice">{{ 'chat_message.complaint_has_been_opened'|trans }}</p>
                {% elseif message.complaint.isAccepted %}
                    <p class="notice notice-success">{{ 'chat_message.complaint_has_been_accepted'|trans }}</p>
                {% elseif message.complaint.isRejected %}
                    <p class="notice notice-warning">{{ 'chat_message.complaint_has_been_rejected'|trans }}</p>
                {% endif %}

            {% else %}
                {% if message.complaint.isAccepted %}
                    <p class="notice notice-warning">{{ 'chat_message.your_message_has_been_complained_and_accepted'|trans }}</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</li>