{% extends "::layout.html.twig" %}

{% block title -%}
    {% if companion is defined and companion is not null %}
        {{ 'chat_with_companion'|trans({'%companion%': companion.firstname}) }}
    {% else %}
        {{ 'chat_page.title'|trans }}
    {% endif %}
{%- endblock %}

{% block page_title_text %}
    {% if companion is defined and companion is not null %}
        {{ 'chat_with_companion'|trans({'%companion%': companion.firstname}) }}
    {% else %}
        {{ 'chat_page.title'|trans }}
    {% endif %}
{%  endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/uploadify.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/vendor/jquery.uploadify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chat.js') }}"></script>
{% endblock %}

{% block plugin_css %}
    {{ parent() }}

    {% stylesheets
        'css/blueimp-gallery.min.css'
        'css/bootstrap-image-gallery.min.css'
        filter='cssrewrite'
        output='css/compiled/*.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block jsplugins %}
    {{ parent() }}

    {% javascripts
        'js/vendor/jquery.blueimp-gallery.min.js'
        'js/vendor/blueimp-gallery-fullscreen.js'
        'js/vendor/bootstrap-image-gallery.min.js'
        output='js/compiled/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" defer="defer"></script>
    {% endjavascripts %}
{% endblock %}

{% block page %}
    {{ parent() }}

    <div class="row">
        <div class="col-lg-3">
            <div class="well bs-component chat-friends">
                <h3>{{ 'chat_page.title'|trans }}</h3>
                {% if companions %}
                    <ul class="friend-list">
                    {% for companion in companions %}
                        <li class="friend">
                            <a href="{{ path('chat_show', {"companion_id": companion.id}) }}" class="clearfix">
                                <span class="photo">
                                    {% if companion.hasThumbnail %}
                                        <img src="{{ vich_uploader_asset(companion.thumbnail, 'file', 'AppBundle\\Entity\\UserPhoto')|imagine_filter('user_message_thumb') }}" alt="{{ companion.fullName }}"/>
                                    {% endif %}
                                </span>
                                <span class="description">{{ companion.fullName }}, {{ companion.age }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ 'chat_page.no_companions'|trans }}</p>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-9">
            {% if companion is defined and companion is not null %}
                <div class="panel panel-primary chat-widget" data-companion-id="{{ companion.id }}">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> {{ 'chat_with_companion'|trans({'%companion%': companion.firstname}) }}
                        <span class="js-chat-stats pull-right">{{ include(':Chat:_chat_stats.html.twig') }}</span>
                        {#{{ include('Chat/_optional_chat_menu.html.twig') }}#}
                    </div>
                    <div class="panel-footer">
                        <div class="panel-body chat-messages">
                            <ul class="chat">
                                {% if messages is defined %}
                                    {{ include(':Chat:_messages.html.twig') }}
                                {% else %}
                                    <li class="no-messages"><i>{{ 'chat_page.no_messages_yet'|trans }}</i></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="chat-actions js-chat-actions">
                            <a href="#" onclick="return false;" class="js-emoticon-invocation-link" data-toggle="popover"
                                    ><img src="{{ asset('images/emoticons/ab.gif') }}" alt=""/></a>
                            <div class="hidden">
                                <div class="emoticons js-emoticons">
                                    {% for emoticon in emoticons %}
                                        <a href="#" onclick="return false;" class="js-emoticon emoticon" title="{{ emoticon.symbol }}"
                                                ><img src="/images/emoticons/{{ emoticon.icon }}" alt="{{ emoticon.symbol }}" /></a>
                                    {% endfor %}
                                </div>
                            </div>

                            <form action="#" class="uploadify-form js-uploadify-form">
                                <input type="file" class="js-image-message image-message" name="image_message" id="imageMessageInput"/>
                            </form>
                        </div>

                        <div class="uploadify-queue js-uploadify-queue" id="chatUploadifyQueue"></div>

                        <form action="{{ path('chat_add_message', { "companion_id": companion.id }) }}" method="post"
                              id="addMessageForm" class="js-message-form">
                            <div class="form-group">
                                <textarea class="form-control input-sm js-message-input message-input"
                                       placeholder="{{ 'type_your_message'|trans }}"></textarea>
                            </div>
                            <div class="form-group clearfix">
                                <span class="pale">{{ 'chat_page.ctrl_plus_enter_send_message'|trans }}</span>
                                <button class="btn btn-default btn-sm js-submit-button pull-right">{{ 'send'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}

                <p>{{ 'please_select_companion'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block gallery_template %}
    {{ include(':Common:gallery_widget.html.twig') }}
{% endblock %}