{% extends '::layout.html.twig' %}

{% block title 'search'|trans %}
{% block page_title_text %}{{ 'models_available_for_chat'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
{% endblock %}

{% block page %}
    {{ parent() }}
    <div class="search-widget" data-url-base="{{ path(pagination.route, pagination.query|merge({'page': '__PAGE__', 's[offline]': '__OFFLINE__'})) }}">
        {% include ':Search:_search_form.html.twig' %}

        <div class="row search-results">
            <div class="col-lg-12">

                {% if pagination is defined %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3>{{ 'online_models_found'|trans({'%count%': pagination.getTotalItemCount}) }}</h3>
                        </div>
                    </div>

                    <div class="row search-pages">
                        {% if pagination.totalItemCount == 0 %}
                            <div class="col-lg-12 col-md-12">
                                <p><i>{{ 'stat_page.no_models_fount'|trans }}</i></p>
                            </div>
                        {% else %}
                            {{ include(':Search:_search_page.html.twig') }}
                        {% endif %}
                    </div>

                    {#<div class="row">
                        <nav class="navigation col-lg-12 col-md-12 text-right">
                            {{ knp_pagination_render(pagination) }}
                        </nav>
                    </div>#}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}